<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiseñoMultimedia</title>
    <link rel="stylesheet" href="../Styles/Styles.css">

</head>
<body>

    <section class="section">

        <div class="div1">

            <h1 class="h1-1">DISEÑO</h1>
            <h1 class="h1-2">MULTIMEDIA</h1>

        </div>

        <div class="div2">

            <a href="../index.html">INICIO</a>
            <a href="./Nosotros.html">NOSOTROS</a>
            <a href="./Servicios.html">SERVICIOS</a>
            <a href="./CONTACTO">CONTACTO</a>

        </div>


    </section>

    <div class="linea"></div>

    <div class="div4">

        <h3 class="h3">subscribete a nuestra boleteria</h3>

        <div class="juntar">

        <input type="email" id="email" class="gmail" >
        <button class="button">subscribete</button>

        </div>
        
    </div>



    <div class="div12">
        <h5 class="h5">Contacto</h5>
        <div class="div17">

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Ingresa tu nombre">
            
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Ingresa tu email">
            
            <label for="telefono">Teléfono</label>
            <input type="tel" id="telefono" placeholder="Ingresa tu teléfono">
            
            <label for="celular">Celular</label>
            <input type="tel" id="celular" placeholder="Ingresa tu celular">
            
            <label for="mensaje">Mensaje</label>
            <textarea id="mensaje" rows="4" placeholder="Escribe tu mensaje"></textarea>
            
            <button type="submit">Enviar</button>

        </div>


        <div class="div9">

            <h6 class="h6">Que hacemos</h6>
            <p class="p7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna</p>
            
        </div>

    </div>



    

    <Footer>

        <p class="copy03"> Graphel Desarrollador Web Copyright &copy;  Jhoan valencia 2025</p>

    </Footer>

    
    
</body>
</html>