<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiseñoMultimedia</title>
    <link rel="stylesheet" href="./Styles/Styles.css">

</head>
<body>
    <section class="section">

        <div class="div1">
            <h1 class="h1-1">DISEÑO</h1>
            <h1 class="h1-2">MULTIMEDIA</h1>

        </div>
        <div class="div2">
            <a href="INICIO">INICIO</a>
            <a href="NOSOTROS">NOSOTROS</a>
            <a href="SERVICIOS">SERVICIOS</a>
            <a href="CONTACTO">CONTACTO</a>

        </div>


    </section>


    <header class="header1">

        <div class="div3">
            <h2 class="h2-1">Expertos en Tecnologias Web</h2>
            <p class="p1">lorem ipsum dolor sit amet consectetur elit. Minima beatae aspernatur alias, commodi molestiae accusantium.</p>
        </div>

    </header>

    <div class="div4">

        <h3 class="h3">subscribete a nuestra boleteria</h3>
        
        <input type="email" id="email" class="gmail" >
    </div>


    
    
</body>
</html>