<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiseñoMultimedia</title>
    <link rel="stylesheet" href="../Styles/Styles.css">

</head>
<body>

    <section class="section">

        <div class="div1">

            <h1 class="h1-1">DISEÑO</h1>
            <h1 class="h1-2">MULTIMEDIA</h1>

        </div>

        <div class="div2">

            <a href="../index.html">INICIO</a>
            <a href="./Nosotros.html">NOSOTROS</a>
            <a href="./Servicios.html">SERVICIOS</a>
            <a href="./Contactos.html">CONTACTO</a>

        </div>


    </section>

    <div class="linea"></div>

    <div class="div4">

        <h3 class="h3">subscribete a nuestra boleteria</h3>

        <div class="juntar">

        <input type="email" id="email" class="gmail" >
        <button class="button">subscribete</button>

        </div>
        
    </div>



    <div class="div10">

        <div class="div8">

            <h5 class="h5">Nosotros</h5>
            <p class="p5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna. Nam eget eros non orci consectetur congue at ac augue. Proin eget arcu in enim feugiat ultricies. Curabitur maximus metus nec metus pretium viverra at et orci. Integer hendrerit ante ut placerat cursus.</p>
            <div class="div11"><p class="p6">Aliquam eget pharetra diam. Nulla placerat lorem at turpis tempor, vel ultrices dui tincidunt. Proin quis egestas lorem. Mauris veicula lectus odio, sit amet dictum justo feugiat a. Praesent id dictum lacus. Sed ullamcorper id erat ut dictum. Fusce porttitor lorem sapien, in aliquet sapien convallis et. Donec nec mauris nulla. Curabitur cursus semper odio, et hendrerit ante. Nunc at cursus ante. Maecenas gravida ligula ut efficitur suscipit. Nulla id turpis varius, pretium nunc sed, fermentum sem. Sed lacinia nunc non interdum pellentesque.</p></div>
            <img src="/Assets/891.jpg" class="img5" alt="portatil">

        </div>

        <div class="div9">

            <h6 class="h6">Que hacemos</h6>
            <p class="p7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna</p>
            
        </div>

    </div>



    

    <Footer>

        <p class="copy03"> Graphel Desarrollador Web Copyright &copy;  Jhoan valencia 2025</p>

    </Footer>

    
    
</body>
</html>